In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']
}

In [3]:
# Create a DataFrame using the dictionary
df = pd.DataFrame(data)

In [4]:

# Display the DataFrame
print("Original DataFrame:")
print(df)
print()

Original DataFrame:
      Name  Age  Gender         City
0    Alice   25  Female     New York
1      Bob   30    Male  Los Angeles
2  Charlie   35    Male      Chicago
3    David   40    Male      Houston
4    Emily   45  Female        Miami

In [5]:
# Get summary statistics
summary_stats = df.describe()
print("Summary Statistics:")
print(summary_stats)
print()

Summary Statistics:
             Age
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000

In [6]:
# Filter the DataFrame based on a condition
filtered_df = df[df['Age'] > 30]
print("Filtered DataFrame (Age > 30):")
print(filtered_df)
print()

Filtered DataFrame (Age > 30):
      Name  Age  Gender     City
2  Charlie   35    Male  Chicago
3    David   40    Male  Houston
4    Emily   45  Female    Miami

In [7]:
# Group the data by Gender and calculate the mean Age for each group
grouped_data = df.groupby('Gender')['Age'].mean()
print("Mean Age by Gender:")
print(grouped_data)

Mean Age by Gender:
Gender
Female    35.0
Male      35.0
Name: Age, dtype: float64